# ðŸ Python Lists â€” Notes

## ðŸ“˜ 1. Creating a List

In [129]:
empty_list = []
print(empty_list)

todo_list = ['Learn Python List', 'How to manage List elements']
print(todo_list)

numbers = [1, 3, 2, 7, 9, 4]
print(numbers)

coordinates = [[0, 0], [100, 100], [200, 200]]
print(coordinates)

[]
['Learn Python List', 'How to manage List elements']
[1, 3, 2, 7, 9, 4]
[[0, 0], [100, 100], [200, 200]]

## ðŸŽ¯ 2. Accessing and Modifying Elements

In [130]:
numbers = [1, 3, 2, 7, 9, 4]
print(numbers[0])  # First element
print(numbers[-1]) # Last element
print(numbers[-2]) # Second-to-last element

# Modify values
numbers[0] = 10
print(numbers)

numbers[2] /= 2
print(numbers)

1
4
9
[10, 3, 2, 7, 9, 4]
[10, 3, 1.0, 7, 9, 4]

## âž• 3. Adding and Removing Elements

In [131]:
numbers = [1, 3, 2, 7, 9, 4]

numbers.append(100)            # Add to the end
numbers.insert(2, 100)         # Insert at position
print(numbers)

del numbers[0]                 # Delete by index
last = numbers.pop()           # Remove and return last element
print(last, numbers)

numbers.remove(9)              # Remove by value
print(numbers)

[1, 3, 100, 2, 7, 9, 4, 100]
100 [3, 100, 2, 7, 9, 4]
[3, 100, 2, 7, 4]

## ðŸ”¢ 4. Sorting a List

In [132]:
guests = ['James', 'Mary', 'John', 'Patricia', 'Robert', 'Jennifer']

# Standard sort
print(sorted(guests))

# Reverse (in-place)
guests.sort(reverse=True)
print(guests)

['James', 'Jennifer', 'John', 'Mary', 'Patricia', 'Robert']
['Robert', 'Patricia', 'Mary', 'John', 'Jennifer', 'James']

### Sorting by a Specific Key

In [133]:
companies = [
    ('Google', 2019, 134.81),
    ('Apple', 2019, 260.2),
    ('Facebook', 2019, 70.7)
]

def sort_key(company):
    return company[2]

companies.sort(key=sort_key, reverse=True)
print(companies)

# Simplified with lambda
companies.sort(key=lambda c: c[2])
print(companies)

[('Apple', 2019, 260.2), ('Google', 2019, 134.81), ('Facebook', 2019, 70.7)]
[('Facebook', 2019, 70.7), ('Google', 2019, 134.81), ('Apple', 2019, 260.2)]

## ðŸ§® 5. Creating a New Sorted List

In [134]:
guests = ['James', 'Mary', 'John', 'Patricia', 'Robert', 'Jennifer']
sorted_guests = sorted(guests, reverse=True)
print(sorted_guests)

# Original remains unchanged
companies = [
    ('Google', 2019, 134.81),
    ('Apple', 2019, 260.2),
    ('Facebook', 2019, 70.7)
]

result = sorted(companies, key=lambda c: c[2], reverse=True)
print(result)

['Robert', 'Patricia', 'Mary', 'John', 'Jennifer', 'James']
[('Apple', 2019, 260.2), ('Google', 2019, 134.81), ('Facebook', 2019, 70.7)]

## âœ‚ï¸ 6. List Slicing

> sub_list = list[begin: end: step]

In [135]:
colors = ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']

print(colors[1:4])     # From 2nd to 4th
print(colors[:3])      # First 3 elements
print(colors[-3:])     # Last 3 elements
print(colors[::2])     # Every other element
print(colors[::-1])    # Reverse

# Substitution
colors[0:2] = ['black', 'white']
print(colors)

colors[0:2] = ['black', 'white', 'gray']
print(colors)

del colors[2:5]        # Partial deletion
print(colors)

['orange', 'yellow', 'green']
['red', 'orange', 'yellow']
['blue', 'indigo', 'violet']
['red', 'yellow', 'blue', 'violet']
['violet', 'indigo', 'blue', 'green', 'yellow', 'orange', 'red']
['black', 'white', 'yellow', 'green', 'blue', 'indigo', 'violet']
['black', 'white', 'gray', 'yellow', 'green', 'blue', 'indigo', 'violet']
['black', 'white', 'blue', 'indigo', 'violet']

## ðŸ“¦ 7. List Unpacking

In [136]:
colors = ['red', 'blue', 'green']
red, blue, green = colors

colors = ['cyan', 'magenta', 'yellow', 'black']
cyan, magenta, *other = colors
print(cyan, magenta, other)

cyan magenta ['yellow', 'black']

## ðŸ” 8. Looping Through a List

In [137]:
cities = ['New York', 'Beijing', 'Cairo', 'Mumbai', 'Mexico']

# Basic loop
for city in cities:
    print(city)

# With indexor index, city in enumerate(cities):
    print(f"{index}: {city}")

# Start index manually
for index, city in enumerate(cities, 0):
    print(f"{index}: {city}")

New York
4: New York
Beijing
4: Beijing
Cairo
4: Cairo
Mumbai
4: Mumbai
Mexico
4: Mexico
0: New York
1: Beijing
2: Cairo
3: Mumbai
4: Mexico

## ðŸ” 9. Finding an Element

In [138]:
cities = ['New York', 'Beijing', 'Cairo', 'Mumbai', 'Mexico']

result = cities.index('Mumbai')
print(result)

city = 'Osaka'
if city in cities:
    print(f"{city} found at index {cities.index(city)}")
else:
    print(f"{city} not in the list")

3
Osaka not in the list

## âš™ï¸ 10. Transforming Lists with map()

> iterator = map(fn, list)

In [139]:
bonuses = [100, 200, 300]
iterator = map(lambda b: b * 2, bonuses)
print(list(iterator))

names = ['david', 'peter', 'jenifer']
print(list(map(lambda n: n.capitalize(), names)))

carts = [['SmartPhone', 400], ['Tablet', 450], ['Laptop', 700]]
TAX = 0.1
carts = map(lambda item: [item[0], item[1], item[1] * TAX], carts)
print(list(carts))

[200, 400, 600]
['David', 'Peter', 'Jenifer']
[['SmartPhone', 400, 40.0], ['Tablet', 450, 45.0], ['Laptop', 700, 70.0]]

## ðŸ”Ž 11. Filtering Lists with filter()

> filter(fn, list)

In [140]:
scores = [70, 60, 80, 90, 50]
filtered = filter(lambda s: s >= 70, scores)
print(list(filtered))

countries = [
    ['China', 1394015977],
    ['United States', 329877505],
    ['India', 1326093247],
    ['Indonesia', 267026366],
    ['Bangladesh', 162650853],
    ['Pakistan', 233500636],
    ['Nigeria', 214028302],
    ['Brazil', 21171597],
    ['Russia', 141722205],
    ['Mexico', 128649565]
]

populated = filter(lambda c: c[1] > 300000000, countries)
print(list(populated))

[70, 80, 90]
[['China', 1394015977], ['United States', 329877505], ['India', 1326093247]]

## ðŸ§® 12. Reducing Lists with reduce()

In [141]:
from functools import reduce

scores = [75, 65, 80, 95, 50]
total = reduce(lambda a, b: a + b, scores)
print(total)

365

## ðŸ’¡ 13. List Comprehensions

In [142]:
numbers = [1, 2, 3, 4, 5]
squares = [n**2 for n in numbers]
print(squares)

# Equivalent to:
squares = list(map(lambda n: n**2, numbers))
print(squares)

mountains = [
    ['Makalu', 8485],
    ['Lhotse', 8516],
    ['Kanchendzonga', 8586],
    ['K2', 8611],
    ['Everest', 8848]
]

highest = [m for m in mountains if m[1] > 8600]
print(highest)

[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25]
[['K2', 8611], ['Everest', 8848]]

## ðŸ§± 14. Tuples

In [143]:
rgb = ('red', 'green', 'blue')
print(rgb[0], rgb[1], rgb[2])

# Single-element tuple
numbers = (3,)
print(type(numbers))

# Without comma â†’ int
numbers = (3)
print(type(numbers))

red green blue
<class 'tuple'>
<class 'int'>

## ðŸ—ï¸ 15. Dictionaries

> A Python dictionary is a **key â†’ value** mapping used to represent associative data structures.